.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

.col {
    text-align: center;
    min-height: calc(100vh - 3.4rem);
    background-color: rgb(143, 181, 190);
}

.target {
    border-top: solid 2px #000;
    height: 100%;
}